@{
    ViewData["Title"] = "Home Page";
}




<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">The Clap-O-Meter</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-4 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-microphone fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="soundMinimum">--</div>
                        <div>Quietist Value!</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left" id="soundMinimumTime">--</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-8">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-microphone fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="soundMaximum">--</div>
                        <div>Loudest Value!</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left" id="soundMaximumTime">--</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-8">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-microphone fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="soundAverage">--</div>
                        <div>Average Value</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left" id="soundAverageTimeFrame">--</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Live Sound Data

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>

    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Current Data
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id='defaultGauge' class="gauge"></div>
            </div>
            <!-- /.panel-body -->
        </div>

    </div>
    <!-- /.col-lg-4 -->
</div>

<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Debug Messages

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <span id="messages">
                </span>
            </div>
            <!-- /.panel-body -->
        </div>

    </div>
</div>
<!-- /.row -->