<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="IoTHubName" value="clapometeriothub"/>
    <add key="IoTHubConsumerGroup" value="clapometer"/>
    <add key="IoTHubConnectionString" value="Endpoint=sb://iothub-ns-clapometer-41652-7dcd69e3c6.servicebus.windows.net/;SharedAccessKeyName=iothubowner;SharedAccessKey=y0Hdq5gOXk0MhbyuqQnt/+uDbzGa+QlqQDHUsWjLdEo="/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=clapometer;AccountKey=xEn4z6Q83yOJXij8PyDgpQVTrsU/d8MBDGtG/hEEMaNJKTneaLZ2dSRU+EHl4AttO0Vi3Vapr5W7RU29XHS0kg=="/>

  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
